<!DOCTYPE html>
<html>
<head>
    <title>API Response</title>
</head>
<body>
<h1>Product List</h1>
<ul>
    <% data.forEach(function(data) { %>
        <li>Product name: <%= data.name %> CompanyName: <%= data.companyName %> </li>
    <% }); %>
</ul>
<ul>
    <h1>Insert more product</h1>
    <form method="POST" action="/product/">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
        </div>

        <div>
            <label for="companyName">CompanyName:</label>
            <input type="text" id="companyName" name="companyName" required>
        </div>

        <button type="create">Submit</button>
    </form>
</ul>

<ul>
    <h1> Delete product</h1>
    <a href="/product/page/delete"> click here</a>
</ul>

<ul>
    <h1>Update Product</h1>
    <a href="/product/page/update"> click here </a>
</ul>

</body>
</html>
